.FreelancerServices {
    .section {
      min-height: calc(100vh - 273px);
    }
    
    .buttons {
      margin-block: 73px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 130px;
      
      button {
        cursor: pointer;
        padding: 16px 46px;
        width: 280px;
        color: white;
        background-color: var(--color-orange);
        font-size: 30px;
        outline: none;
        border: none;
        border-radius: 10px;
      }
    }
  
    .services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: 30px;
      
      a {
        text-decoration: none;
        color: black;
      }
  
      .service {
        width: 294px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: rgba(21, 34, 50, 0.26) 10px 10px 20px;
        transition: 0.7s;
  
        &:hover {
          transform: translateY(-10px);
        }
  
        .slider {
          img {
            width: 100%;
            height: 193px;
            cursor: grab;
  
            &:active {
              cursor: grabbing;
            }
          }
        }
  
        .serviceHeader {
          font-size: 18px;
          display: flex;
          gap: 10px;
          margin-top: 15px;
          margin-left: 15px;
          align-items: center;
          font-weight: 500;
  
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }
  
        .serviceTitle {
          width: 100%;
          overflow: hidden;
          text-align: center;
          font-size: 25px;
          font-weight: 500;
        }
  
        .serviceDescription {
          margin-left: 17px;
          margin-right: 29px;
          width: 249px;
          height: 83px;
          word-wrap: break-word;
          overflow: hidden;
          text-align: justify;
        }
  
        .rating-more {
          display: flex;
          align-items: center;
          padding-right: 24px;
          margin-top: 15px;
          margin-left: 17px;
          justify-content: space-between;
  
          .rating {
            font-weight: 500;
            gap: 5px;
            display: flex;
            align-items: center;
  
            svg {
              width: 24px;
              height: 24px;
              fill: orange;
            }
          }
  
          button {
            font-weight: bolder;
            cursor: pointer;
            background-color: var(--color-orange);
            color: white;
            padding: 10px 20px;
            outline: none;
            border: none;
            border-radius: 10px;
          }
        }
  
        hr {
          margin-block: 11.5px;
          width: 100%;
          border-top: 0.5px;
        }
  
        .servicePrice {
          padding-inline: 29px;
          text-align: right;
          padding-bottom: 9px;
          font-size: 20px;
        }
      }
    }
  
    .noServices {
      color: var(--color-orange);
      font-size: 50px;
      text-align: center;
      font-weight: 700;
      height: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    .FreelancerServices {
      .buttons {
        gap: 50px;
      }
    }
  }