.FreelancerCreateService {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
    .wewe {
      min-height: calc(100vh - 173px);
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid black;
      border-radius: 10px;
      margin-top: 40px;
      padding: 20px;
      background-color: white;
  
  
    .go-back-button {
      align-self: flex-start;
      margin-top: 20px;
  
      button {
        margin-top: 7px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color:#58c5aa;
        color: white;
        padding: 10px 55px;
        font-size: 16px;
        margin-top: 25px;
        border-radius: 10px;
      }
    }
  
    .createHeader {
      font-size: 50px;
      text-align: center;
      color: black;
      margin: 20px 0 50px;
    }
  
    form {
      width: 922px;
      display: flex;
      flex-direction: column;
      gap: 32px;
  
      label {
        display: inline-block;
        color: black;
        font-weight: bold;
        font-size: 14px;
        width: 100%;
        text-align: left;
        margin-bottom: 8px;
      }
  
      input, textarea {
        color: rgb(0, 0, 0);
        background-color:white;
        border: 2px solid black;
        outline: none;
        width: 90%;
        padding: 17px 20px;
        font-size: 18px;
        border-radius: 10px;
      }
  
      textarea {
        border: 2px solid black;
        min-width: 90%;
        max-width: 90%;
        min-height: 22px;
      }
  
      .images {
        cursor: pointer;
        color: white;
        background-color:#58c5aa;
        
        width: 90%;
        padding: 17px 20px;
        font-size: 18px;
        border-radius: 10px;
        text-align: center;
        font-weight: 500;
      }
  
      button {
        margin-top: 7px;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 30px;
        background-color: #58c5aa;
        color: white;
        padding: 10px 55px;
        font-size: 16px;
        margin-top: 25px;
        align-self: center;
      }
  
      input[type="file"] {
        display: none;
      }
    }
  
    input::placeholder,
    textarea::placeholder {
      color: white;
    }
  
    input:focus::placeholder,
    textarea:focus::placeholder {
      opacity: 0;
      transition: 0.3s;
    }
  
    @media (max-width: 930px) {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
  }
  }