.FreelancerUpdateService {
    .section {
      min-height: calc(100vh - 173px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .go-back-button {
      align-self: flex-start;
      margin-top: 20px;
      
      button {
        margin-top: 7px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: var(--color-orange);
        color: white;
        padding: 10px 55px;
        font-size: 16px;
        margin-top: 25px;
        border-radius: 10px;
      }
    }
  
    .updateHeader {
      font-size: 50px;
      text-align: center;
      color: var(--color-orange);
      margin-block: 53px;
    }
  
    form {
      width: 922px;
      display: flex;
      flex-direction: column;
      gap: 32px;
  
      label {
        display: inline-block;
        color: var(--color-orange);
        font-weight: bold;
        font-size: 14px;
        width: 100%;
        text-align: left;
        margin-bottom: 8px;
      }
  
      input, textarea {
        color: white;
        background-color: var(--color-orange);
        border: 2px solid var(--color-light-orange);
        outline: none;
        width: 90%;
        padding: 17px 20px;
        font-size: 18px;
        border-radius: 10px;
      }
  
      textarea {
        border: 1px solid var(--color-light-orange);
        min-width: 90%;
        max-width: 90%;
        min-height: 22px;
      }
    }
  
    .images {
      cursor: pointer;
      color: white;
      background-color: var(--color-orange);
      border: 2px solid var(--color-light-orange);
      width: 90%;
      padding: 17px 20px;
      font-size: 18px;
      border-radius: 10px;
      text-align: center;
      font-weight: 500;
    }
  
    button {
      margin-top: 7px;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 30px;
      background-color: var(--color-orange);
      color: white;
      padding: 10px 55px;
      font-size: 16px;
      margin-top: 25px;
      align-self: center;
    }
  
    form input[type="file"] {
      display: none;
    }
  
    input::placeholder, textarea::placeholder {
      color: white;
    }
  
    input:focus::placeholder, textarea:focus::placeholder {
      opacity: 0;
      transition: 0.3s;
    }
  
    @media (max-width: 930px) {
      form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 32px;
      }
    }
  }